    @{
        Layout = "_Template";
    }
    <div class="row">
        <h2 style="color:#6C429C;">Home - Hello World<img src="/images/dotcorelogo.png" style="width:150px; heidht:50px;"></img></h2>
        <hr style="border: 1px solid black; opacity:0.7;">
          <div class ="">
          </div>
        </div>
    </div>